<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<img class="thumbnail" src="/images/passport.jpg">
<h5>Prashant Shukla</h5>
<p>Mean Stack Developer and expertise in full-stack application development, design and testing 
 Proficiency in problem solving using data structures & algorithms, demonstrated by achieving rank in 98+ percentile on CodeWars 
 </p>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Prashant Shukla</span>
</div>
</div>
<div class="callout primary">
<div class="row column">
	 

<h1>SKILLS</h1>
<p class="lead">JavaScript (ES2015+), Node, Express, Angular, MongoDB,  PHP, Laravel, HTML5, CSS3, MYSQL, Nginx, Socket.IO Platforms and tools - Git, JIRA, Jest</p>
</div>
</div>
<div class="padding row small-up-2 medium-up-3 large-up-4">
{{{body}}}
</div>
<hr>
<a href="/admin">Admin Area</a>
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>